
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div class="row">
    <div class="col-md-4">
        <h2>Online Examination</h2>
        <p>
            <li>Online Examination System can reduce the hectic job of assessing the answers given by candidates manually.</li>
            <li>Responses or the answers by the candidates can be checked automatically and instantly.</li>
            <li>It will reduce paper work to be an integrated Online Examination System.</li>
        </p>

    </div>
    <div class="col-md-4">
        <h2>Categories</h2>
        <p>IT has 6 categories as C,C#,SQL,JAVA,C++,PYTHON</p>

    </div>
    <div class="col-md-4">
        <h2>Level</h2>
        <p>This application provides 3 levels on clearing the levels result will be generated</p>

    </div>
</div>