
@{
    ViewBag.Title = "Endexam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<body>
    <div>
        <h1>completed Exam !!</h1>
        <h2>your score is @TempData["score"]</h2>
    </div>
</body>
</html>
<div>
    <a href="@Url.Action("level2", new {id= @TempData["score"]})" class="btn btn-success">ok & continue </a>
</div>
